<%@replies.each do |reply|%>
  <p>
  <strong>Reply:</strong>
  <%=reply.body%></p>
  <%= image_tag reply.image , :height=>"100", :width=>"100" , :class=>"img-responsive", :class=>"img-rounded"%>
  </p>
<%end%>
